@tailwind base;
@tailwind components;
@tailwind utilities;

/************ Custom scroll bar *************/
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  background: linear-gradient(30deg, #7978ff 0%, #ff0063 130.6%);
  border-radius: 4px;
}

@layer base {
  * {
    @apply font-['Lexend_Deca'];
  }
  input,
  textarea {
    @apply !text-[16px] !mt-0;
  }
  .row h1 {
    @apply text-5xl;
  }
}
@layer components {
  .structure {
    @apply w-[90%] sm:w-[550px] md:w-[750px] lg:w-[1050px] xl:w-[1450px] mx-auto flex;
  }
}

.logo {
  background: linear-gradient(270deg, #7978ff 0%, #ff0063 130.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
