@tailwind base;
@tailwind components;
@tailwind utilities;

/************ Custom scroll bar *************/
*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #EBF0FF;
  /* background: linear-gradient(30deg, #7978ff 0%, #ffeef4 130.6%); */
  border-radius: 4px;
}

@layer base {
  * {
    @apply font-['Lexend_Deca'];
  }
  body{
    @apply overflow-hidden;
  }
  input,
  textarea {
    @apply !text-[16px] !mt-0;
  }
}
@layer base {
  .preview {
    @apply p-4;
  }
  .preview .line {
    @apply my-2 w-full h-[1px] bg-gray-200;
  }
  .preview h1 {
    @apply text-[32px] mt-3 font-semibold text-gray-800;
  }
  .preview h2 {
    @apply text-2xl mt-7 font-semibold text-gray-800;
  }
  .preview li {
    @apply text-[18px] my-2;
  }
}

@layer components {
  .structure {
    @apply w-[90%] sm:w-[550px] md:w-[750px] lg:w-[1050px] xl:w-[1450px] mx-auto flex;
  }
}

.logo {
  background: linear-gradient(270deg, #7978ff 0%, #ff0063 130.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
